<div class="main_container" *ngIf="!loading">
  <div class="channeltext">{{channelstext}}</div>
  <div class=channel_container>
    <div *ngFor="let c of channels">
    <app-compact-box
      [nid]="c.nid"
      [name]="c.name"
      [title]="c.title"
      [user_picture]="c.field_logo"
      [field_channel_cover]="c.field_channel_cover"
      [view_node]="c.view_node">
    </app-compact-box>
    </div>
  </div>
</div>

<app-loader *ngIf="this.loading" [loading]="this.loading"></app-loader>



<!--
[view_node]="c.view_node"-->
