:host {
  flex: 1;
}

.videos_playlist {
  padding-bottom: 30px;

  .images_playlist_videos {
    position: relative;

    .image_video {

      .thumbnail_video_playlist {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 300px;
      }
    }

    .duration_video_playlist {
      position: absolute;
      left: 17px;
      bottom: 40px;

      .video_duration {
        color: white;
        background-color: #1C1C24;
        padding: 2px 15px;
        border-radius: 5px;
      }
    }

    .user_playlist_videos {

      .user_picture_playlist_videos {

        .user_playlist_videos {
          width: 75px;
          height: 75px;
          border-radius: 50px;
          border: 2px solid white;
          right: 140px;
          top: 175px;
          position: absolute;
        }
      }

      .username_playlist_videos {
        font-size: 10px;
        color: #1E75FF;
        padding-top: 20px;
      }
    }
  }

  .video_playlist_info {

    .video_title {
      font-size: 11px;
    }

    .created_playlist_videos {
      padding-bottom: 35px;
      font-size: 10px;
      color: gray;
    }
  }
}
