.divlogo {
  background-color: #1C1C24;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .icon_ham {
    position: absolute;
    left: 27px;

    .hamburguer {
      font-size: 20px;
      cursor: pointer;
    }
  }

  .logo {
    height: 41px;
    left: 50px;
    top: 15px;
    padding: 20px 0;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .divlogo {
    max-width: 250px;

    .icon_ham, .hamburguer {
      display: none;
    }
  }
}


