<div class="main_container_thematic">
  <div class="thematic_container">
    <h1 class="thematic_title">{{thematic.title}}</h1>
    <div class="images_thematic">
      <!--<div class="thematic_image_header">-->
      <img class="image_header_thematic"
           [src]="'https://dev-project-upskill2-grupo3-ii.pantheonsite.io/' + thematic.field_image_header">
      <!--<div class="thumbnail_thematic">-->
      <img class="thematic_thumbnail"
           [src]="'https://dev-project-upskill2-grupo3-ii.pantheonsite.io/' + thematic.field_thumbnail_article">
    </div>
    <div class="thematic_tag">#{{thematic.field_tag}}</div>
    <div class="thematic_teaser">{{thematic.field_teaser}}</div>
    <div class="thematic_body">{{thematic.body}}</div>
    <div class="more_info">More Info:</div>

    <div class="thematic_external_links">
      <div class="external_links_title" *ngFor="let title of external_list; let t = index">
        <div class="external_links_url" *ngFor="let url of links_list; let l = index">
          <div class="matching_external_links" *ngIf="t === l">
            <a [href]="url | safe" target="_blank">{{title}}</a>
          </div>
        </div>
      </div>
    </div>
    <h2 class="thematic_videos">{{videostext}}</h2>
    <div class="thematic_article_videos"
         *ngIf="thematic">
      <app-video
        *ngFor="let tv of thematic_videos; let i = index"
        [mid]="tv.mid"
        [thumbnail__target_id]="tv.thumbnail__target_id"
        [user_picture]="tv.user_picture"
        [field_duration]="tv.field_duration"
        [field_tags]="tv.field_tags"
        [field_video_title]="tv.field_video_title"
        [created]="tv.created"
        [autoplay]="tv.field_media_oembed_video"
        [view_media]="tv.view_media"
        [view_node]="returnNode(tv.field_channel_1)"
        [thematics]=true>
      </app-video>
    </div>
    <div *ngIf="!tag" class="container_more_videos">
      <div class="more_videos_border" (click)="moreResults()">
        <p class="more_videos_text">{{morevideostext}}</p>
      </div>
    </div>
  </div>
</div>
