<div class="main_container" [routerLink]="['/channel',urlctitle]">

  <div class="images">
    <img class="cover" [ngStyle]="{'background-image': 'url(https://dev-project-upskill2-grupo3-ii.pantheonsite.io/' +
                                                            field_channel_cover + ')'}">
    <img class="picture" [src]="'https://dev-project-upskill2-grupo3-ii.pantheonsite.io/' + user_picture">
  </div>

  <div class="channel_info">
    <p class="video_name">{{title}}</p>
  </div>

</div>


