<div class="main_container" [routerLink]="['/channelpage',nid]">

  <div class="images">
    <img class="cover" [ngStyle]="{'background-image': 'url(https://dev-project-upskill2-grupo3.pantheonsite.io/' +
                                                            field_channel_cover + ')'}">
    <img class="picture" [src]="'https://dev-project-upskill2-grupo3.pantheonsite.io/' + user_picture">
  </div>

  <div class="channel_info">
    <!--<p class="author">{{name}}</p>-->
    <p class="video_name">{{title}}</p>
  </div>


</div>


