<div class="commentcontainer">
  <div class="pictextcontainer">
    <app-randompicture
      [uid]="uid"
      [user_picture]="user_picture"
      [email]="email"
      type="comment"
    ></app-randompicture>
    <div class="text">
      <span class="username">{{username}} </span>
      <span class="time">{{date}}</span>
      <div class="commenttext">{{comment}}</div>
    </div>
  </div>


  <div class="commenticon">
    <div class="iconcontainer" (click)="toggleReportText();">
      <fa-icon class="iconEllipsis" [icon]="faEllipsisVertical"></fa-icon>

       <div *ngIf="visible" [className]="optionsInvisible? '':'displayNone'"
            (click)="toggleReportText();toggleShowOptions()">

        <div class="reporttext" *ngIf="visible" (mouseleave)="toggleReportText()">
          <fa-icon class="iconFlag" [icon]="faFlag"></fa-icon>
          <div>{{reporttext}}</div>
        </div>
      </div>
      <div class="thanks" *ngIf="reportThanks"><i>{{thankstext}}</i></div>
      <div class="warning" *ngIf="warning"><i>{{pleasetext}}</i></div>

      <div [className]="optionsInvisible? 'displayNone':'reporttextcontainer'"
           (mouseleave)="toggleShowOptions()">

        <div class="optionsContainer">

          <p class="choosetext">{{pleasetext}}</p>

          <form [formGroup]="reasonsForm" type="button" class="formContainer" (ngSubmit)="getReason()">

            <div class="reasongroup" *ngFor="let reasondefault of reasonsList">

              <input class="radios"
                     type="radio"

                     name="'radioreasons'+{{idreason}}"
                     [checked]="selectedReason === reasondefault.name"
                     [value]="reasondefault.name"
                     [id]="reasondefault.name + idreason"
                     (change)="onChange(reasondefault.name)"
              >
              <label class="reason" [for]="reasondefault.name + idreason">{{ reasondefault.name}}</label>
            </div>

            <input class="inputreason"
                   type=textarea
                   [placeholder]=otherreasontext
                   formControlName="userReason"
                   onblur="this.value=''"
                   (click)="selected=false;selectedReason=''">

            <button class="iconFlagContainer" type="submit">

              <!--<fa-icon class="iconFlag" [icon]="faFlag" [ngStyle]="{'color': reported? '#B2191B' : ''}"></fa-icon>-->
              <p class="sendtext">{{sendtext}}</p>

            </button>


          </form>


        </div>
      </div>

    </div>
  </div>

