:host {
  flex: 1;

}

.commentcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 50px 0;


  .pictextcontainer {
    display: flex;
    align-items: center;
    gap: 15px;


    .text {
      color: #FAFAFB;

      .username {
        font-size: 14px;
        font-weight: 600;
      }

      .time {
        color: #92929D;
        font-size: 14px;
      }

      .commenttext {
        font-size: 14px;
        text-align: justify;
        letter-spacing: 0.2px;
      }
    }
  }

  .commenticon {
    width: 150px;
    position: relative;
    visibility: hidden;


    .iconcontainer {
      width: 100%;
      font-size: 14pt;
      cursor: pointer;
      display: flex;
      justify-content: right;
      right: -20px;


      .iconEllipsis
      {

      }

      .thanks
      {
        position: absolute;
        right: 30px;
        bottom: 0;
        font-size: 10pt;
        width: 150px;
        color: #bf1c1c;
      }
      .warning {
        position: absolute;
        right: 15px;
        bottom: 0;
        font-size: 10pt;
        width: 150px;
        color: #bf1c1c;
      }

      .reporttext {
        position: absolute;
        border: 0.5px solid #4b4b4b;
        right: 15px;
        padding: 5px 15px;
        font-size: 10pt;
        color: #787878;
        background-color: #13131a;
        border-radius: 5px;
        display: flex;
        gap:10px;
        cursor: pointer;

        .iconFlag{
          color: darkred;
        }
      }


    }


    .reporttextcontainer {
      position: absolute;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      right: 12px;
      bottom: 100%;
      width: 180px;
      border: 2px solid rgba(146, 146, 157, 0.18);
      border-radius: 10px;
      padding: 5px;
      gap: 15px;
      color: rgb(146, 146, 157);
      background-color: #13131a;


      .optionsContainer {

        .choosetext
        {
          color: #6a6a6a;
          font-size: 12pt;
          margin: 5px 5px;
        }

        .formContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .reasongroup
          {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width:100%;
            border: none;
            height: 35px;
            color: #cbcaca;
            gap:10px;
            border-radius: 5px;

            &:hover {
              background-color: #92929D66;
            }

            .radios
            {
              accent-color: #ed0b0b;
              opacity: .5;
            }
            .reason {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              cursor: pointer;
              width: 100%;
              height: 100%;
              font-size: 10pt;
            }
          }

          .inputreason {
            width: 100%;
            height: 40px;
            overflow-wrap: break-word;
            resize: vertical;
            overflow: auto;
            padding: 0;
            background-color: #3f3f51;
            color: whitesmoke;
            font-weight: 200;
            border-radius: 3px;
            border: 1px solid #8e8d8d;
            margin-top: 5px;
            min-height: 40px;
            max-height: 200px;

            &:focus {
              outline: none !important;
              border: 1px solid white;
              border-radius: 3px;
              text-decoration: none !important;
            }

            &:hover
            {
              border-color: whitesmoke;
            }
          }


          .iconFlagContainer {
            position: relative;
            cursor: pointer;
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            color: white;
            font-size:15px;
            border: 0.2px solid #323232;
            border-radius: 5px;
            background-color: #13131a;
            height: 35px;

            &:hover
            {
              border-color: darkred;
            }

            /*.iconFlag {
              filter: drop-shadow(-1px -1px 0.5px #92929D66);
              transform: rotate(-10deg);
              margin: 5px;
              color: #ff0000;
            }*/



          }

        }
      }
    }
  }
}


.displayNone
{
  display:none;
}

.active {
  background-color: #92929D66;
}

::-webkit-input-placeholder {
  text-align: center;
  line-height: 40px;
  font-style: italic;
}
.commentcontainer:hover .iconcontainer {
  visibility: visible;
}

