
.commentcontainer {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0;

  .profilepicture {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-size: cover;
  }

  .text {

    color: #FAFAFB;

    .username {
      font-size: 14px;
      font-weight: 600;
    }

    .time {
      color: #92929D;
      font-size: 14px;
    }

    .commenttext {
      font-size: 14px;
      text-align: justify;
      letter-spacing: 0.2px;
    }
  }
}
