:host {
  flex: 1;
}

.commentcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 30px 0;

  .pictextcontainer {
    display: flex;
    align-items: center;
    gap: 15px;


    .text {
      color: #FAFAFB;

      .username {
        font-size: 14px;
        font-weight: 600;
      }

      .time {
        color: #92929D;
        font-size: 14px;
      }

      .commenttext {
        font-size: 14px;
        text-align: justify;
        letter-spacing: 0.2px;
      }
    }
  }

  .commenticon {
    width: 50px;
    position: relative;
    visibility: hidden;

    .iconcontainer {
      width: 100%;
      font-size: 14pt;
      cursor: pointer;
      display: flex;
      justify-content: right;
    }


    .reporttextcontainer {
      position: absolute;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      right: 5px;
      bottom: -35px;
      width: 150px;
      border: 2px solid rgba(146, 146, 157, 0.18);
      border-radius: 10px;
      padding: 5px;
      cursor: pointer;
      gap:15px;
      color: rgb(146, 146, 157);


      .reporttext {
        margin: 0;
        font-size: 8pt;
      }
    }
  }

}

.commentcontainer:hover .commenticon {
  visibility: visible;
}
