.drop {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;


  .dropdown {
    width: 190px;
    height: 30px;
    background-color: #292932;
    color: white;
    border-radius: 5px;
  }
}

.search_bar {
  width: 190px;
  height: 30px;
  position: relative;
  background-color: #292932;
  border-radius: 5px;
  border: 1px solid #92929D;
  color: white;
  align-items: center;
}

fa-icon {
  position: absolute;
  z-index: 1;
  left: 159px;
  bottom: 6px;
  color: #92929D;
  margin-left: 10px;
}



