:host {
  flex: 1;
}

.main_container_thematics {

  .main_title_thematics {
    color: white;
    padding-top: 13px;
    padding-left: 30px;
  }

  .out_container_thematics {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 20px;
    /*max-width: 970px;*/

    /*display: grid;
    grid-template-columns: auto auto auto;
    justify-content: left;*/

    .thematics_container {
      /*padding: 20px;
      max-width: 310px;*/
      background-color: #1C1C24;
      border-radius: 20px;
      cursor: pointer;
      overflow: hidden;
      opacity: 0.8;

      &:hover {
        //transform: scale(1.1);
        background: rgba(146, 146, 157, 0.4);
        //overflow: visible;
      }

      .images_thematics {
        flex-direction: column;
        align-items: flex-end;
        position: relative;


        .image_header {
          /*margin-left: 15px;*/
          margin: 25px;
          width: 325px;
          height: 200px;
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
        }

        .profile_photo_thematic {
          /*padding-left: 200px;*/

          .user_picture_thematic {
            width: 75px;
            height: 75px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid white;
            right: 40px;
            bottom: -10px;
            position: absolute;
          }
        }
      }

      .text_box_thematic {
        padding-bottom: 25px;
        padding-left: 25px;

        .username_thematic {
          color: blue;
          font-size: 15px;
        }

        .title_thematic {
          width: 325px;
          color: white;
          margin: 2px;
          line-height: 1.5;
        }

        .tag_thematic {
          color: white;
          margin-bottom: 5px;
          margin-top: 7px;
        }

        .created_thematic {
          color: gray;
        }
      }
    }
  }
}
