<app-loader *ngIf="this.loading" [loading]="this.loading"></app-loader>
<div class="main_div" *ngIf="!this.loading">
 <div class="recent_videos">
    <div class="title"><p>{{searchtext}} | {{filter_str}}</p></div>
  <!-- <div class="not_found" *ngIf="videos.length===0  || channels.length === 0">
      <h1>{{results_text}}</h1>
      <fa-icon [icon]="faFaceFrown"></fa-icon>
    </div>-->
    <div class=containers>
      <div *ngFor="let video of videos">
        <app-video
          [mid]="video.mid"
          [field_channel]="video.field_channel"
          [field_video_title]="video.field_video_title"
          [created]="video.created"
          [thumbnail__target_id]="video.thumbnail__target_id"
          [user_picture]="video.user_picture"
          [field_duration]="video.field_duration"
          [field_channel_1]="video.field_channel_1"
          [field_tags]="video.field_tags"
          [autoplay]="video.field_media_oembed_video"
          [view_media]="video.view_media"
          share_type="icons">
        </app-video>
      </div>
      <div *ngFor="let channel of channels">
        <app-compact-box
          [nid]="channel.nid"
          [name]="channel.name"
          [title]="channel.title"
          [user_picture]="channel.field_logo"
          [field_channel_cover]="channel.field_channel_cover">
        </app-compact-box>
      </div>
    </div>
  </div>
  <app-sidebar></app-sidebar>
</div>



