:host {
  flex: 1;
}

.main_container_playlist {
  padding-left: 15px;

  .playlist_container {

    .playlist_title {
      padding-top: 50px;
    }

    .playlist_cover_image {

      .cover_photo_playlist {

        /*width: 800px;
        height: 275px;
        object-fit: cover;*/
        border-radius: 50px;
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }

    .text_playlist {
      display: flex;
      align-items: center;
      padding-bottom: 15px;

      .playlist_category {
        font-size: 15px;
        padding-right: 3px;
      }

      .playlist_body {
        padding-left: 3px;
      }
    }

    .videos {
      padding-top: 35px;
    }

    .videos_playlist {
      display: flex;
      flex-flow: row;
      height: 100%;
      margin: 20px;
      /*justify-content: space-between;*/

      .playlist_videos {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        gap: 20px;
        /*display: grid;
        grid-template-columns: auto auto auto;*/
      }
    }
  }
}
