:host {
  flex: 1;
}

.main_container_playlist {
  padding-top: 15px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .playlist_container {

    flex:1;
    padding: 5px 20px;

    .playlist_title {
    }

    .text_playlist {
      display: flex;
      align-items: center;
      margin-bottom: 39px;

      .playlist_category {
        font-size: 15px;
        padding-right: 3px;
      }

      .playlist_body {
        padding-left: 3px;
      }
    }

    .main_video {
      margin: 0;


      ::ng-deep {
        iframe {
          width: 100%;
          height: auto;
          aspect-ratio: 16 / 9;
        }
      }
    }
  }

  .playlist_videos_sidebar {
    width: 402px;
    gap: 20px;

    .playlist_cover_image {
      margin-top: 20px;
      padding-bottom: 25px;

      .cover_photo_playlist {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }

    .click_videos {
      align-content: center;
      cursor: pointer;
      margin-right: 20px;


      .no_click {
        pointer-events: none;

        .hidden_text {
          visibility: hidden;
        }
      }
    }
  }
}


