<div class="main_container_playlist">
  <div class="playlist_container">
    <h1 class="playlist_title">{{playlist.title}}</h1>
    <!--<div class="playlist_cover_image">
      <img class="cover_photo_playlist"
           [src]="'https://dev-project-upskill2-grupo3-ii.pantheonsite.io/' + playlist.field_cover_image_playlist">
    </div>-->
    <div class="text_playlist">
      <div class="playlist_category">{{playlist.field_category_playlist}} |</div>
      <div class="playlist_body">{{playlist.body}}</div>
    </div>

    <youtube-player class="main_video"
      *ngIf="video_playlist"
      (ready)="savePlayer($event)"
      [videoId]="video_playlist"
      (change)="onStateChange($event)"
                    [width]="780"
                    [height]="523"
    ></youtube-player>

  </div>

  <div class="playlist_videos_sidebar"
       *ngIf="playlist">
    <div class="playlist_cover_image">
      <img class="cover_photo_playlist"
           [src]="'https://dev-project-upskill2-grupo3-ii.pantheonsite.io/' + playlist.field_cover_image_playlist">
    </div>
    <div >

      <div class="click_videos" *ngFor="let pv of playlist_videos" (click)="getvideoId(pv.field_media_oembed_video)">
        <div style="pointer-events: none">
        <app-playlist-videos
          [mid]="pv.mid"
          [thumbnail__target_id]="pv.thumbnail__target_id"
          [field_duration]="pv.field_duration"
          [field_video_title]="pv.field_video_title"
          [field_video_description]="pv.field_video_description"
          [created]="pv.created"
          [autoplay]="pv.field_media_oembed_video"
          [field_tags]="pv.field_tags"
          [view_media]="pv.view_media"
          [view_node]="returnNode(pv.field_channel_1)">
        </app-playlist-videos>
        </div>

      </div>

    </div>
  </div>
</div>


