<div class="main_div">
  <div class="recent_videos">
    <div *ngIf="!tag else titletag" class="title"><h2>Recent Videos</h2></div>
    <ng-template #titletag>
    <div class="title"><h2>{{str | titlecase}}</h2></div>
    </ng-template>
    <div class=videos_container>
      <app-video
        *ngFor="let video of videos"
        [mid]="video.mid"
        [field_channel]="video.field_channel"
        [field_video_title]="video.field_video_title"
        [created]="video.created"
        [thumbnail__target_id]="video.thumbnail__target_id"
        [user_picture]="video.user_picture"
        [field_duration]="video.field_duration"
        [field_channel_1]="video.field_channel_1"
        [field_tags]="video.field_tags"
        [autoplay]="video.field_media_oembed_video"
        share_type="icons">
      </app-video>
    </div>
    <div *ngIf="!tag" class="container_more_videos">
      <div class="more_videos_border" (click)="moreResults()">
        <p class="more_videos_text">Click for more videos</p>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <div class="suggested_content" id="channel_content">
      <div class="container">
        <h4>Suggested Channels</h4>
      </div>
      <div class="text_container" *ngFor="let channel of channels" [routerLink]="['/channelpage',channel.nid]">
        <div routerLink="channels">
          <img class="logo" [src]="'https://dev-project-upskill2-grupo3-ii.pantheonsite.io' + channel.field_logo" alt="channel logo">
        </div>
        <div class="title"> {{channel.title}}</div>
      </div>
    </div>
    <div class="more" [routerLink]="['/channels']">
      <h5>SEE MORE</h5>
    </div>
    <div class="suggested_content" id="thematic_content">
      <div class="container">
        <h4>Suggested Thematics</h4>
        <h4 class="see_all" [routerLink]="['/thematics']"> SEE ALL</h4>
      </div>
      <div class="container_t">
        <div class="text_container">
          <div>
            <img class="logo" [src]="'https://dev-project-upskill2-grupo3-ii.pantheonsite.io' + suggested_thematic.field_thumbnail_article" alt="thematic thumbnail">
          </div>
          <div class="title">
            <p>{{suggested_thematic.title}}</p>
            <p class="subtitle">{{suggested_thematic.name}}</p></div>
        </div>
        <div>
          <img class="image_header" [src]="'https://dev-project-upskill2-grupo3-ii.pantheonsite.io' + suggested_thematic.field_image_header" alt="thematic image">
        </div>
      </div>
    </div>
  </div>
</div>
