<app-loader *ngIf="this.loading" [loading]="this.loading"></app-loader>

<div class="main_div">
  <div class="recent_videos">

    <div *ngIf="!this.filter" class="title"><p>{{recentvideostext}}</p></div>
    <div *ngIf="this.filter" class="title"><p>{{searchtext}} {{this.filter}}</p></div>
    <div class=videos_container>
      <div *ngFor="let video of videos">
      <app-video
        [mid]="video.mid"
        [field_channel]="video.field_channel"
        [field_video_title]="video.field_video_title"
        [created]="video.created"
        [thumbnail__target_id]="video.thumbnail__target_id"
        [user_picture]="video.user_picture"
        [field_duration]="video.field_duration"
        [field_channel_1]="video.field_channel_1"
        [field_tags]="video.field_tags"
        [autoplay]="video.field_media_oembed_video"
        [view_media]="video.view_media"
        [view_node]="returnNode(video.field_channel_1)"
        share_type="icons">
      </app-video>
      </div>
    </div>
    <div  *ngIf="!this.filter" class="container_more_videos">
      <div class="more_videos_border" (click)="moreResults()">
        <p class="more_videos_text">{{morevideostext}}</p>
      </div>
    </div>
  </div>
  <app-sidebar></app-sidebar>
</div>


