
.wrapper{
  display: flex;
  justify-content: space-between;

  .content{
    height: 100vh;
    overflow: auto;
    flex:1;
  }
}

// Scrollbar

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #13131a;
}
::-webkit-scrollbar-thumb {
  background: #292932;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B5B5BE;
}
