<app-loader *ngIf="this.loading" [loading]="this.loading"></app-loader>
<div class="main_div">
  <div class="title">
  <h2>{{favoritestext}}</h2>
</div>
  <div class="no_favs" *ngIf="favorites_list.length===0">
    <fa-icon [icon]="faPoo" ></fa-icon>
  <h1> {{Ooopstext}}</h1>
</div>
  <div class="favorites_container">
  <app-video *ngFor="let favorite of favorites_list"
             [mid]="favorite.mid"
             [field_channel]="favorite.field_channel"
             [field_video_title]="favorite.field_video_title"
             [created]="favorite.created"
             [thumbnail__target_id]="favorite.thumbnail__target_id"
             [user_picture]="favorite.user_picture"
             [field_duration]="favorite.field_duration"
             [field_channel_1]="favorite.field_channel_1"
             [autoplay]="favorite.field_media_oembed_video"
             [view_media]="favorite.view_media"
             [view_node]="returnNode(favorite.field_channel_1)"
             share_type="icons">
  ></app-video>
  </div>
</div>
