<div class="video" (mouseenter)="hover = true" (mouseleave)="hover = false">
  <div class="images">
    <img class=thumbnail [src]="thumbnail"
         alt="video thumbnail">

    <div class="play" *ngIf="hover">
      <iframe [routerLink]="['/video/',urlvtitle]" class="iframe" title="video" [src]=" autoplay | safe"
               frameborder="0" allow="autoplay; fullscreen; picture-in-picture"></iframe>
    </div>
    <div class="invisible_div" [routerLink]="['/video/',urlvtitle]"></div>
    <div class="main_duration">
      <p class="duration">{{field_duration}}</p>
    </div>

    <div class="user_pic" [routerLink]="['/channel/',urlctitle]">
      <img class="picture" [src]="'https://dev-project-upskill2-grupo3-ii.pantheonsite.io/' + user_picture" alt="user picture">
    </div>
  </div>
  <div class="video_info">

    <div class="info">
      <p *ngIf="thematics" class="field_tags">{{field_tags | tags}}</p>
      <p *ngIf="field_channel" class="channel" [routerLink]="['/channel/',urlctitle]">{{field_channel}}</p>
      <p *ngIf="field_channel===''" class="channel no">{{field_tags | tags}}</p>
      <h3 class="video_name" [routerLink]="['/video/',urlvtitle]">{{field_video_title}}</h3>
      <p class="created">{{created}}</p>
    </div>

    <div *ngIf="share_type" class="icons">
      <div class="bookmark_icon" (click)="appService.toggleFavorite(mid)">
        <fa-icon [icon]="appService.isFavorite(mid)? faBookmarksolid : faBookmark"></fa-icon>
      </div>
      <div class="sharenodes_icon" (click)="toggleShare()">
          <fa-icon [icon]="faSharenodes"></fa-icon>
      </div>
    </div>
  </div>
</div>
<app-share-pop-up [isShare]="showSharePopup" [mid]="mid"></app-share-pop-up>
