:host {
  flex: 1;
}

.pagecontainer {
  margin: 20px;
  min-width: 300px;


  .cover {
    padding-bottom: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50px 50px 0 0;
    color: #13131a;
    position: relative;
    width: auto;

    .userpicture {
      position: absolute;
      width: 15%;
      padding-bottom:15%;
      bottom: -30%;
      right: 7%;
      border-radius: 50%;
      border: 3px solid white;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;


    }
  }

  .textcontainer {
    margin: 40px 0 20px 0;
    border-bottom: #232321 0.5px solid;

    .title {
      font-weight: 600;
      font-size: 20pt;
    }

    .description {
      margin: 10px 0 20px 0;
      text-align: justify;
      font-size: 9pt;
      Width: auto;
      color: #E7E7E7;
    }
  }

  .textovideos {
    font-weight: 600;
    font-size: 14pt;

  }

  .listvideos {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 20px;
    justify-content: space-around;

  }

  .textocomentarios
  {
    font-weight: 600;
    font-size: 14pt;
    width: auto;
  }

  .commentscontainer
  {
    max-width: 800px;

    .commentcontainer {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      width: auto;


      }

  }

}
