<div class="pagecontainer">
  <div class="cover" [ngStyle]="{'background-image':
  'linear-gradient(transparent,transparent,transparent,transparent, #13131a 100%),' +

  'url(https://dev-project-upskill2-grupo3-ii.pantheonsite.io/'
                                      + objchannels.field_channel_cover + ')'}">

    -<img class="userpicture"
          [ngStyle]="{'background-image':'url(https://dev-project-upskill2-grupo3-ii.pantheonsite.io/' + objchannels.field_logo + ')'}">
  </div>
  <div class="textcontainer">
    <div class="title">{{objchannels.title}}</div>
    <div class="description">{{objchannels.field_description}}</div>
  </div>
  <div class="textovideos">{{videotext}}</div>
  <app-loader *ngIf="this.loading" [loading]="this.loading"></app-loader>
  <div class="listvideos">
    <app-video
      *ngFor="let v of listvideos"
      [mid]="v.mid"
      [field_channel]="v.name"
      [field_video_title]="v.field_video_title"
      [created]="v.created"
      [thumbnail__target_id]="v.thumbnail__target_id"
      [user_picture]="v.user_picture"
      [field_duration]="v.field_duration"
      [field_channel_1]="v.nid"
      [field_tags]="v.field_tags"
      [autoplay] = "v.field_media_oembed_video"
      [view_media]="v.view_media">
    </app-video>
  </div>

  <div *ngIf="moreSix" class="container_more_videos">
  <div class="more_videos_border" (click)="moreResults()">
    <p class="more_videos_text">{{morevideostext}}</p>
  </div>
  </div>

  <div class="textocomentarios">{{commentstext}}</div>
  <div class="commentscontainer">
    <app-form
      [id]="id"
      page="channel"
    ></app-form>
    <div *ngIf="!includesComments"><i>{{nocommentstext}}</i></div>
    <div *ngIf="includesComments">
    <div class="commentcontainer" *ngFor="let cc of listchannelCom; let i = index">
      <app-comment *ngIf="parseNum(cc.field_count_reports_cc) < 3"
                   [uid]="cc.uid"
                   [user_picture]="cc.user_picture"
                   [username]="cc.field_username"
                   [date]="cc.field_date"
                   [comment]="cc.field_comment"
                   [email]="cc.field_email"
                   [idComment]="cc.cid"
                   [reasons]="cc.field_report_reasons_cc"
                   [count]="cc.field_count_reports_cc"
                   [idreason]= i
                   [channel]=true>
        <fa-icon class="commenticon" [icon]="faEllipsisVertical"></fa-icon>
      </app-comment>
    </div>
  </div>
  </div>
</div>



