.main_div {
  display: flex;
  flex-flow: row;
  height: 100%;
  margin: 30px 0;
  justify-content: space-between;

  .title, h2 {
    margin: 0;
    padding-bottom: 14px;
    padding-left: 15px;
  }

  .videos_container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-evenly;
    //margin-left: 20px;
    //gap:10px;
  }
}

//Media Queries

@media (max-width: 768px) {
  .main_div {
    justify-content: center;

    .title {
      padding-left: 0;
    }
  }
}

