<div class="sidebar">
  <div class="suggested_content" id="channel_content">
    <div class="container">
      <h4>{{suggestedchannelstext}}</h4>
    </div>

    <div class="text_container" *ngFor="let channel of channels" [routerLink]="['/channel',channel.view_node]">

      <div routerLink="channels">
        <img class="logo" [src]="'https://dev-project-upskill2-grupo3-ii.pantheonsite.io' + channel.field_logo" alt="channel logo">
      </div>
      <div class="title"> {{channel.title}}</div>
    </div>
  </div>
  <div class="more" [routerLink]="['/channels']">
    <h5>{{seemoretext}}</h5>
  </div>
  <div class="suggested_content" id="thematic_content">
    <div class="container">
      <h4>{{suggestedthematicstext}}</h4>
      <h4 class="see_all" [routerLink]="['/thematics']">{{seealltext}}</h4>
    </div>
    <div class="container_t">
      <div class="text_container">
        <div>
          <img class="logo" [src]="'https://dev-project-upskill2-grupo3-ii.pantheonsite.io' + suggested_thematic.field_thumbnail_article" alt="thematic thumbnail">
        </div>
        <div class="title">
          <p>{{suggested_thematic.title}}</p>
          <p class="subtitle">{{suggested_thematic.name}}</p></div>
      </div>
      <div class="header_main">
        <img class="image_header" [src]="'https://dev-project-upskill2-grupo3-ii.pantheonsite.io' + suggested_thematic.field_image_header" alt="thematic image">
      </div>
    </div>
  </div>
</div>
