.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1C1C24;
  flex: auto;
  overflow: auto;
  height: calc(100vh - 81px);
  max-width: 250px;
  margin: 0;
  z-index: 1;
  position: relative;
  top: 80px;
  transition: transform 200ms ease-in-out;

  .menu {
    border-top: 3px solid #292932;
    width: 100%;
    padding-top: 30px;

    .active_div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      fa-icon {
        padding: 0 22px;
        font-size: 18px;
        color: #B5B5BE;
      }

      active_div, p {
        font-size: 14px;
        color: #B5B5BE
      }
    }

    .active_div:hover {
      border-left: 3px solid white;

      > p {
        color: white;
      }
    }

    .active {
      border-left: 1px solid white;


      fa-icon {
        color: white;
      }

      active, p {
        color: white;
      }
    }

    .titles {
      padding-left: 22px;
      display: flex;
      flex-wrap: wrap;

      titles, h3 {
        color: #92929D;
        letter-spacing: 0.85px;
        text-transform: uppercase;
      }


      .tags_flex {
        display: flex;
        flex-wrap: wrap;

        .tag {
          border: 1px solid #292932;
          border-radius: 4px;
          padding: 5px;
          margin-right: 9px;
          margin-bottom: 10px;
          font-size: 14px;
          cursor: pointer;
        }

        .tag:hover {
          background-color: #B5B5BE;
          color: #292932;
          border: 1px solid white;
        }
      }

      .search {
        display: flex;
        position: relative;
        font-size: 14px;
        color: black;
      }
    }
  }
}

//Media Queries

@media (max-width: 1025px) {

  .main_container {
    position: fixed;
    transform: translateX(-250px);
  }

  .main_container.open {
    transform: translateX(0);
  }
}


// Scrollbar

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1C1C24;
}

::-webkit-scrollbar-thumb {
  background: #292932;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B5B5BE;
}

