<div class="main_container">
  <img src="/assets/upload.svg" alt="logo" class="logo" routerLink="homepage">
  <div class="menu">
    <div class="buttons">
      <div class="home" id="home_button" routerLink="homepage">
        <div class="active_div" routerLinkActive="active">
          <fa-icon [icon]="faHome"></fa-icon>
          <p>Home</p>
        </div>
      </div>
      <div class="channels" id="channels_button" routerLink="channels">
        <div class="active_div" routerLinkActive="active">
          <fa-icon [icon]="faBarsStaggered"></fa-icon>
          <p>Channels</p>
        </div>
      </div>
      <div class="thematics" id="thematics_button" routerLink="thematics">
        <div class="active_div" routerLinkActive="active">
          <fa-icon [icon]="faClapperboard"></fa-icon>
          <p>Thematics</p>
        </div>
      </div>
      <div class="playlists" id="playlists_button" routerLink="playlists">
        <div class="active_div" routerLinkActive="active">
          <fa-icon [icon]="faPlay"></fa-icon>
          <p>Playlists</p>
        </div>
      </div>
    </div>
    <div class="favourites" id="favourites_button" routerLink="favorites">
      <div class="active_div" routerLinkActive="active">
        <fa-icon [icon]="faBookmark"></fa-icon>
        <p>Favorites</p>
      </div>
    </div>
    <div class="titles">
      <h3>TAGS</h3>
      <div class="tags_flex">
        <div class="tag" *ngFor="let tag of tags" [queryParams]="{tag: tag.tid}" routerLink="/homepage">
          {{tag.name}}
        </div>
      </div>
    </div>
    <div class="titles">
      <h3>SEARCH</h3>
      <div class="search" >
        <input class="search_bar" placeholder="Type here!">
        <fa-icon class="find" [icon]="faMagnifyinGlass"></fa-icon>
      </div>
    </div>
  </div>

  <app-language></app-language>

</div>

