<div class="container">

  <app-randompicture
    uid="Anonymous"
    type="form"
  ></app-randompicture>

  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="personalinfo">

      <div class="divname">
        <input class="fields" id="name" [placeholder]=nametext type="text" formControlName="name">
      </div>

      <div class="divemail">
        <input class="fields" id="email" placeholder="Email" type="text" formControlName="email">
      </div>

    </div>

    <div class="divcomment">
      <input class="fields" id="comment" [placeholder]=messagetext type="text" formControlName="comment">
    </div>

    <div class="divbutton">
      <button class="button" type="submit">{{commenttext}}</button>
    </div>

  </form>
</div>
